/*
  NORMAL FLOW LAYOUT FOR MOBILE USERS!!!!!!!!
*/
body {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(207, 207, 138));
}

#container {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#loginForm h1 {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

.version {
    color: gold;
    text-shadow: 2px 2px 2px black;
}

#loginForm form {
    background-color: white;
    width: 85%;
    height: 60vh;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

form input {
    max-width: 60%;
    margin-top: 20px;
    padding: 2.5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

i {
    font-size: 25px;
}

form a {
    color: black;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

form a:visited {
    color: black;
    text-decoration: none;
}

form button {
    background-color: rgb(212, 201, 162);
    margin: 3.5%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: ease .5s;
}

form button:hover {
    background-color: rgb(231, 240, 111);
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    body {
        background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(236, 202, 8));
    }

    #container {
        width: 90%;
    }


    #loginForm h1 {
        font-size: 2.75em;
    }

    #loginForm form {
        margin-top: 10%;
        height: 65vh;
    }

    form input {
        padding: 5px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        overflow: auto;
    }

    form a {
        font-size: 20px;
    }

    form a:hover {
        text-decoration: underline;
        font-size: 20px;
    }

    form a:visited {
        font-size: 20px;
    }

    form button {
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;

    }

    form button:hover {
        font-size: 25px;
    }
}

@media screen and (min-width: 950px) {
    body {
        background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(236, 202, 8));
    }

    #loginForm h1 {
        font-size: 3.5em;
    }

    #loginForm form {
        margin-top: 5%;
        width: 50%;
        height: 60vh;
    }

    form input {
        margin-top: 20px;
        padding: 5px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        max-width: 60%;
    }

}

@media screen and (min-width: 1400px) {
    body {
        background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(236, 202, 8));
    }

    #loginForm h1 {
        font-size: 3.75em;
    }

    #loginForm form {
        margin-top: 5%;
        width: 50%;
        height: 65vh;
    }

    form input {
        margin-top: 20px;
        padding: 5px;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        max-width: 60%;
    }

}